body { font-family: Arial, sans-serif; 
background-color: #f0f8ff; 
color: #333; 
margin: 0; 
padding: 20px; 
text-align: center; 
direction: rtl; } 
header { background-color: #4caf50; 
color: white; 
padding: 10px; 
margin-bottom: 20px; } 
form { background-color: #fff; 
border-radius: 10px; 
padding: 20px; 
box-shadow: 4px 8px rgba(0, 0, 0, 0.1); 
display: inline-block; text-align: right; }
input[type="text"], input[type="date"], input[type="email"], select, textarea { width: calc(100% - 22px); padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px; }
input[type="radio"] { margin-right: 5px; }
input[type="submit"] 
{ background-color: #4caf50; 
color: white; 
border: none; 
padding: 10px 20px; 
border-radius: 5px; 
cursor: pointer; 
transition: background-color 0.3s ease; } 
input[type="submit"]:hover 
{ background-color: #45a049; } 
p { margin: 10px 0; } 
select { width: 100%; } 
textarea { width: 100%; 
height: 80px; 
resize: none; } 
.paragraphe { margin-bottom: 20px; }